<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- TailwindCss -->
       <link rel="stylesheet" href="../../css/style.css">
       <!-- AOS -->
       <link href="../../../node_modules/aos/dist/aos.css" rel="stylesheet">
       <!-- Font Family -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
       <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
       <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
       <!-- swiper -->
       <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
       <!-- Favicon -->
       <link rel="shortcut icon" href="../../img/favicon peta.ico" type="image/x-icon">
       <title>Kontak | PETA</title>
</head>

<body class="bg-gradient-to-l from-secondary to-cyan-50 font-poppins">
       <!-- Navbar -->
       <header class="absolute top-0 left-0 z-10 flex items-center w-full bg-white">
              <div class="container">
                     <div class="relative flex items-center justify-between">
                            <a href="../beranda/index.html" class="pr-2 md:pr-2">
                                   <img class="h-12 my-2" src="../../img/logoPeta.png" alt="logoPeta">
                            </a>
                            <div class="flex items-center">
                                   <button id="hamburger" name="hamburger" type="button"
                                          class="absolute block right-2 top-3 lg:hidden">
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                          <span class="transition duration-300 ease-in-out hamburger-line"></span>
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                   </button>

                                   <nav id="nav-menu"
                                          class="hidden absolute py-3 bg-white shadow-lg max-w-[250px] w-full right-4 top-full lg:block lg:static lg:bg-transparent lg:left-4 lg:max-w-full lg:shadow-none lg:top-0">
                                          <ul class="block font-normal lg:flex lg:items-center">
                                                 <li class="grup">
                                                        <a href="../beranda/index.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Beranda
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../peta/peta.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Tentang PETA
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../tbc/tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Info TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kasus/kasus-tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kasus TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../artikel/artikel.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Artikel
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../galeri/galeri.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Galeri
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kontak/kontak.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kontak
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../penjualan/penjualan.html"
                                                               class="block p-3 ml-2 text-white rounded-lg bg-button hover:bg-primary">
                                                               Penjualan Karya
                                                        </a>
                                                 </li>
                                          </ul>
                                   </nav>
                            </div>
                     </div>
              </div>
       </header>
       <!-- End Navbar -->

       <!--maps-->
       <section class="mt-[6.5rem] pb-16">
              <div class="container">
                     <div class="flex justify-around px-2 md:px-10">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4701117881355!2d106.87971801449308!3d-6.201544562477599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f4913d61cda3%3A0x18d16be0cb4077b3!2sPETA%20(Pejuang%20Tangguh)%20TB-RO%20Office!5e0!3m2!1sid!2sid!4v1653910619976!5m2!1sid!2sid"
                                   width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                   class="w-full rounded-lg h-[29rem] md:h-[35rem] shadow-xl"
                                   referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div>
              </div>
       </section>
       <!-- End Maps -->

       <!-- Kontak -->
       <section class="pt-6 border-t-2">
              <div class="container">
                     <div class="flex flex-col justify-center text-center">
                            <div class="pb-[60px]">
                                   <h2 class="text-[34px] md:mx-8 lg:mx-0 font-semibold">
                                          Alamat: Kantor Pejuang Tangguh PETA TB-RO
                                   </h2>
                                   <p class="mt-5 text-sm font-poppins mx-2 md:mx-20 lg:mx-[170px] xl:mx-[350px]">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis elementum
                                          tellus sapien id et non pellentesque
                                          ultrices. Nibh ridiculus dolor viverra enim. Hac nibh tempus lobortis
                                          phasellus nec neque. Urna, quis amet maecenas
                                          pellentesque tristique neque, odio nunc, commodo.
                                   </p>
                                   <p class="mt-5 text-sm font-medium mx-2 lg:mx-[350px]">
                                          092716354827/029381736451
                                   </p>
                            </div>
                            <div class="pb-[77px]">
                                   <h2 class="text-[34px] font-semibold">
                                          Media Sosial PETA
                                   </h2>
                                   <p class="mt-5 text-base font-poppins mx-2 lg:mx-[200px] mb-9">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in eget
                                          egestas interdum libero ipsum non libero.
                                          Massa sem
                                   </p>
                                   <div class="flex flex-auto lg:flex-row mx-2 justify-center gap-2 lg:gap-[52px]">
                                          <a href="" class="w-9 h-9 md:w-16 md:h-16 hover:scale-125">
                                                 <img src="../../img/LinkedIn.png" alt="LinkedIn">
                                          </a>
                                          <a href="" class="w-9 h-9 md:w-16 md:h-16 hover:scale-125">
                                                 <img src="../../img/Facebook.png" alt="Facebook">
                                          </a>
                                          <a href="" class="w-9 h-9 md:w-16 md:h-16 hover:scale-125">
                                                 <img src="../../img/YouTube.png" alt="YouTube">
                                          </a>
                                          <a href="" class="w-9 h-9 md:w-16 md:h-16 hover:scale-125">
                                                 <img src="../../img/Instagram.png" alt="Instagram">
                                          </a>
                                          <a href="" class="w-9 h-9 md:w-16 md:h-16 hover:scale-125">
                                                 <img src="../../img/Twitter Squared.png" alt="Twitter">
                                          </a>
                                          <a href="" class="w-9 h-9 md:w-16 md:h-16 hover:scale-125">
                                                 <img src="../../img/TikTok.png" alt="TikTok">
                                          </a>
                                   </div>
                            </div>
                            <div class="pb-[231px]">
                                   <h2 class="mb-4 text-2xl font-medium">
                                          Kritik & Saran
                                   </h2>
                                   <form action="" class="mx-2 md:mx-12 lg:mx-[14rem] xl:mx-[21rem]">
                                          <div class="relative my-7">
                                                 <input type="text" id="name"
                                                        class="w-full px-2 py-1 placeholder-transparent bg-transparent border-2 border-black rounded-md focus:text-left form-control focus:ring-4 dark:focus:ring-offset-2 focus:ring-black focus:border-black focus:outline-none peer"
                                                        placeholder="Nama">
                                                 <label for="name"
                                                        class="absolute text-sm font-bold transition-all -translate-y-1/2 text-neutral-500 -top-4 left-2 peer-placeholder-shown:left-4 peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-neutral-900 peer-focus:-top-4 peer-focus:left-2 peer-focus:text-neutral-600">
                                                        Nama
                                                 </label>
                                          </div>
                                          <div class="relative my-7">
                                                 <input type="email" id="email"
                                                        class="w-full px-2 py-1 placeholder-transparent bg-transparent border-2 border-black rounded-md focus:text-left form-control focus:ring-4 dark:focus:ring-offset-2 focus:ring-black focus:border-black focus:outline-none peer"
                                                        placeholder="Email">
                                                 <label for="email"
                                                        class="absolute text-sm font-bold transition-all -translate-y-1/2 text-neutral-500 -top-4 left-2 peer-placeholder-shown:left-4 peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-neutral-900 peer-focus:-top-4 peer-focus:left-2 peer-focus:text-neutral-600">
                                                        Email
                                                 </label>
                                          </div>
                                          <div class="relative my-7">
                                                 <input type="text" id="judul"
                                                        class="w-full px-2 py-1 placeholder-transparent bg-transparent border-2 border-black rounded-md focus:text-left form-control focus:ring-4 dark:focus:ring-offset-2 focus:ring-black focus:border-black focus:outline-none peer"
                                                        placeholder="Judul">
                                                 <label for="judul"
                                                        class="absolute text-sm font-bold transition-all -translate-y-1/2 text-neutral-500 -top-4 left-2 peer-placeholder-shown:left-4 peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-neutral-900 peer-focus:-top-4 peer-focus:left-2 peer-focus:text-neutral-600">
                                                        Judul
                                                 </label>
                                          </div>
                                          <div class="relative mt-7">
                                                 <textarea
                                                        class="w-full px-2 placeholder-transparent bg-transparent border-2 border-black rounded-md -top-1 focus:text-left focus:ring-4 dark:focus:ring-offset-2 focus:ring-black focus:border-black focus:outline-none peer"
                                                        id="isi" cols="20" rows="5"
                                                        placeholder="Tulis Pesan"></textarea>
                                                 <label for="judul"
                                                        class="absolute text-sm font-bold transition-all -translate-y-1/2 text-neutral-500 -top-3 left-2 peer-placeholder-shown:left-4 peer-placeholder-shown:top-5 peer-placeholder-shown:text-neutral-900 peer-focus:-top-4 peer-focus:left-2 peer-focus:text-neutral-600">
                                                        Tulis Pesan
                                                 </label>
                                          </div>
                                          <button type="submit"
                                                 class="px-4 py-2 mt-8 text-base font-medium rounded-[10px] text-white bg-button hover:bg-primary hover:text-white md:text-xl">
                                                 Kirim Pesan
                                          </button>
                                   </form>
                            </div>
                     </div>
              </div>
       </section>
       <!-- End Kontak -->

       <!-- Footer -->
       <footer class="items-center py-5 bg-gray-200">
              <div class="container">
                     <div class="grid grid-cols-2 gap-4 lg:grid-cols-3">
                            <div class="flex col-start-1 row-start-1 md:gap-4 place-self-center">
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/Facebook.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/Instagram.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/YouTube.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/LinkedIn.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/Twitter Squared.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/TikTok.png"
                                                 class="md:pt-0" alt=""></a>
                            </div>
                            <div class="flex col-span-2 mt-5 text-center lg:mt-0 lg:col-span-1 place-self-center">
                                   <p class="text-sm font-medium md:text-base">
                                          &copy; 2022 Pejuang Tanggung PETA TB-RO
                                   </p>
                            </div>
                            <div
                                   class="flex items-center justify-center col-start-2 row-start-1 gap-2 px-4 py-2 pt-2 mx-32 text-sm rounded-lg lg:col-start-3 place-self-center md:mx-0 md:text-base bg-slate-100">
                                   <img src="../../img/indo-icon.png" class="w-5" alt="">
                                   <p class="font-medium">Indonesia</p>
                            </div>
                     </div>
              </div>
       </footer>
       <!-- End Footer -->


       <script src="../../../node_modules/aos/dist/aos.js"></script>
       <script src="../../../node_modules/tw-elements/dist/js/index.min.js"></script>
       <script src="../../js/main.js"></script>
</body>

</html>