<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- TailwindCss -->
       <link rel="stylesheet" href="../../css/style.css">
       <!-- AOS -->
       <link href="../../../node_modules/aos/dist/aos.css" rel="stylesheet">
       <!-- Font Family -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
       <!-- end Font Family -->
       <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
       <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
       <!-- swiper -->
       <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
       <!-- Favicon -->
       <link rel="shortcut icon" href="../../img/favicon peta.ico" type="image/x-icon">
       <title>Tentang PETA | PETA</title>
</head>

<body class="font-poppins">
       <!-- Navbar -->
       <header class="absolute top-0 left-0 z-10 flex items-center w-full bg-white">
              <div class="container">
                     <div class="relative flex items-center justify-between">
                            <a href="../beranda/index.html" class="pr-2 md:pr-2">
                                   <img class="h-12 my-2" src="../../img/logoPeta.png" alt="logoPeta">
                            </a>
                            <div class="flex items-center">
                                   <button id="hamburger" name="hamburger" type="button"
                                          class="absolute block right-2 top-3 lg:hidden">
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                          <span class="transition duration-300 ease-in-out hamburger-line"></span>
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                   </button>

                                   <nav id="nav-menu"
                                          class="hidden absolute py-3 bg-white shadow-lg max-w-[250px] w-full right-4 top-full lg:block lg:static lg:bg-transparent lg:left-4 lg:max-w-full lg:shadow-none lg:top-0">
                                          <ul class="block font-normal lg:flex lg:items-center">
                                                 <li class="grup">
                                                        <a href="../beranda/index.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Beranda
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../peta/peta.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Tentang PETA
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../tbc/tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Info TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kasus/kasus-tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kasus TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../artikel/artikel.html"
                                                               class="block p-2 mx-2 active-menu hover:bg-primary hover:rounded-lg">
                                                               Artikel
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../galeri/galeri.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Galeri
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kontak/kontak.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kontak
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../penjualan/penjualan.html"
                                                               class="block p-3 ml-2 text-white rounded-lg bg-button hover:bg-primary">
                                                               Penjualan Karya
                                                        </a>
                                                 </li>
                                          </ul>
                                   </nav>
                            </div>
                     </div>
              </div>
       </header>
       <!-- End Navbar -->

       <!-- Banner -->
       <section class="pt-16 pb-16 border-b-2">
              <div class="container relative">
                     <div class="grid items-center grid-cols-1 gap-4 lg:grid-cols-12">
                            <div class="col-span-1 lg:col-span-5 lg:col-start-2">
                                   <div class="mx-4 text-white pb-7 md:pb-0 md:pr-2">
                                          <p class="pt-8 text-2xl font-semibold md:pt-12 lg:pt-0 md:text-4xl">
                                                 Artikel
                                          </p>
                                          <p class="z-10 pt-4 mr-8 text-justify font-poppins md:text-xl">
                                                 Lorem ipsum dolor sit amet,
                                                 consectetur
                                                 adipisicing elit. Necessitatibus vero vel, ad
                                                 distinctio illo possimus maiores totam quaerat numquam, laboriosam
                                                 magni nisi ea
                                                 impedit labore quo minus, maxime harum a?
                                          </p>
                                   </div>
                            </div>
                            <div class="grid justify-end col-auto lg:col-span-7 lg:col-start-7 pt-9">
                                   <div class="w-[20rem] md:w-[40rem] lg:w-auto md:h-full rounded-xl shadow-xl">
                                          <img class="rounded-xl h-[15rem] md:h-[30rem]" src="../../img/virus1.png"
                                                 alt="banner">
                                   </div>
                            </div>
                            <div
                                   class="bg-primary overflow-hidden absolute top-0 w-[95%] lg:w-[70%] h-[85%] -z-10 rounded-sm">
                            </div>
                     </div>
              </div>
       </section>
       <!-- END Banner -->

       <!-- Start Artikel -->
       <section class="pt-[52px] pb-10">
              <div class="container">
                     <div class="relative flex justify-center mx-auto mb-5 text-gray-600">
                            <div class="mb-3 xl:w-96">
                                   <div class="relative flex flex-wrap items-stretch w-full mb-4 input-group">
                                          <input type="search"
                                                 class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded-lg transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-button focus:outline-none"
                                                 placeholder="cari artikel yang diinginkan.." aria-label="Search"
                                                 aria-describedby="button-addon2">
                                          <button class="btn inline-block px-6 py-2.5 bg-button text-white font-medium text-xs leading-tight uppercase shadow-md hover:bg-primary hover:shadow-lg focus:bg-primary  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-button active:shadow-lg transition duration-150 ease-in-out rounded-lg items-center"
                                                 type="button" id="button-addon2">
                                                 <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                        data-icon="search" class="w-4" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path fill="currentColor"
                                                               d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                                        </path>
                                                 </svg>
                                          </button>
                                   </div>
                            </div>
                     </div>
                     <div class="grid grid-cols-12">
                            <div class="mx-4 md:col-span-10 md:col-start-2 col-span-full md:mx-0">
                                   <div class="flex justify-center mb-5 lg:mb-9">
                                          <div class="bg-white rounded-lg shadow-lg md:flex lg:flex-col md:flex-row"
                                                 data-aos="fade-right">
                                                 <div class="flex">
                                                        <img src="../../img/virus1.png"
                                                               class="md:w-[20rem] w-48 h-[13rem] rounded-l-lg lg:h-[20rem] lg:w-[30rem]"
                                                               alt="artikel2">
                                                        <a href="#!" data-mdb-ripple="true"
                                                               data-mdb-ripple-color="black">
                                                               <div class="flex flex-col justify-start p-4 md:p-6">
                                                                      <h5
                                                                             class="mb-2 text-lg font-medium text-gray-900 md:text-2xl">
                                                                             Lorem ipsum dolor sit amet
                                                                             consectetur
                                                                             adipisicing elit.
                                                                      </h5>
                                                                      <p
                                                                             class="hidden mb-4 text-base text-gray-700 lg:block">
                                                                             Lorem ipsum dolor sit amet consectetur
                                                                             adipisicing elit. Nostrum delectus illo,
                                                                             eaque quae dolorem voluptatum impedit
                                                                             labore cupiditate quam esse vel facilis
                                                                             maxime, fuga earum.(25)
                                                                      </p>
                                                                      <p class="hidden text-xs text-gray-600 md:block">
                                                                             Ditulis
                                                                             Oleh: GUA
                                                                      </p>
                                                               </div>
                                                        </a>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                            <div class="mx-4 md:col-span-10 md:col-start-2 col-span-full md:mx-0">
                                   <div class="flex justify-center mb-5 lg:mb-9">
                                          <div class="bg-white rounded-lg shadow-lg md:flex lg:flex-col md:flex-row"
                                                 data-aos="fade-right">
                                                 <div class="flex">
                                                        <img src="../../img/virus1.png"
                                                               class="md:w-[20rem] w-48 h-[13rem] rounded-l-lg lg:h-[20rem] lg:w-[30rem]"
                                                               alt="artikel2">
                                                        <a href="#!" data-mdb-ripple="true"
                                                               data-mdb-ripple-color="black">
                                                               <div class="flex flex-col justify-start p-4 md:p-6">
                                                                      <h5
                                                                             class="mb-2 text-lg font-medium text-gray-900 md:text-2xl">
                                                                             Lorem ipsum dolor sit amet
                                                                             consectetur
                                                                             adipisicing elit.
                                                                      </h5>
                                                                      <p
                                                                             class="hidden mb-4 text-base text-gray-700 lg:block">
                                                                             Lorem ipsum dolor sit, amet consectetur
                                                                             adipisicing elit. Ducimus doloribus esse
                                                                             fugit, ullam accusantium ab veniam non
                                                                             dolorum qui neque debitis quos? Odio, iste
                                                                             quidem.
                                                                      </p>
                                                                      <p class="hidden text-xs text-gray-600 md:block">
                                                                             Ditulis
                                                                             Oleh: GUA
                                                                      </p>
                                                               </div>
                                                        </a>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                            <div class="mx-4 md:col-span-10 md:col-start-2 col-span-full md:mx-0">
                                   <div class="flex justify-center mb-5 lg:mb-9">
                                          <div class="bg-white rounded-lg shadow-lg md:flex lg:flex-col md:flex-row"
                                                 data-aos="fade-right">
                                                 <div class="flex">
                                                        <img src="../../img/virus1.png"
                                                               class="md:w-[20rem] w-48 h-[13rem] rounded-l-lg lg:h-[20rem] lg:w-[30rem]"
                                                               alt="artikel2">
                                                        <a href="#!" data-mdb-ripple="true"
                                                               data-mdb-ripple-color="black">
                                                               <div class="flex flex-col justify-start p-4 md:p-6">
                                                                      <h5
                                                                             class="mb-2 text-lg font-medium text-gray-900 md:text-2xl">
                                                                             Lorem ipsum dolor sit amet
                                                                             consectetur
                                                                             adipisicing elit.
                                                                      </h5>
                                                                      <p
                                                                             class="hidden mb-4 text-base text-gray-700 lg:block">
                                                                             Lorem ipsum dolor sit, amet consectetur
                                                                             adipisicing elit. Ducimus doloribus esse
                                                                             fugit, ullam accusantium ab veniam non
                                                                             dolorum qui neque debitis quos? Odio, iste
                                                                             quidem.
                                                                      </p>
                                                                      <p class="hidden text-xs text-gray-600 md:block">
                                                                             Ditulis
                                                                             Oleh: GUA
                                                                      </p>
                                                               </div>
                                                        </a>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                            <div class="mx-4 md:col-span-10 md:col-start-2 col-span-full md:mx-0">
                                   <div class="flex justify-center mb-5 lg:mb-9">
                                          <div class="bg-white rounded-lg shadow-lg md:flex lg:flex-col md:flex-row"
                                                 data-aos="fade-right">
                                                 <div class="flex">
                                                        <img src="../../img/virus1.png"
                                                               class="md:w-[20rem] w-48 h-[13rem] rounded-l-lg lg:h-[20rem] lg:w-[30rem]"
                                                               alt="artikel2">
                                                        <a href="#!" data-mdb-ripple="true"
                                                               data-mdb-ripple-color="black">
                                                               <div class="flex flex-col justify-start p-4 md:p-6">
                                                                      <h5
                                                                             class="mb-2 text-lg font-medium text-gray-900 md:text-2xl">
                                                                             Lorem ipsum dolor sit amet
                                                                             consectetur
                                                                             adipisicing elit.
                                                                      </h5>
                                                                      <p
                                                                             class="hidden mb-4 text-base text-gray-700 lg:block">
                                                                             Lorem ipsum dolor sit, amet consectetur
                                                                             adipisicing elit. Ducimus doloribus esse
                                                                             fugit, ullam accusantium ab veniam non
                                                                             dolorum qui neque debitis quos? Odio, iste
                                                                             quidem.
                                                                      </p>
                                                                      <p class="hidden text-xs text-gray-600 md:block">
                                                                             Ditulis
                                                                             Oleh: GUA
                                                                      </p>
                                                               </div>
                                                        </a>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </div>

              <div class="flex justify-center mt-5 mb-10 font-semibold">
                     <div aria-label="Page navigation example">
                            <ul class="flex list-style-none">
                                   <li class="page-item"><a
                                                 class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 focus:shadow-none"
                                                 href="artikel3.html" aria-label="Previous">
                                                 <span aria-hidden="true">&laquo;</span>
                                          </a></li>
                                   <li class="page-item">
                                          <a class="page-link relative block py-1.5 px-3 rounded border-0  bg-transparent outline-none transition-all duration-300 text-gray-800 bg-gray-200 focus:shadow-none"
                                                 href="artikel.html">
                                                 1
                                          </a>
                                   </li>
                                   <li class="page-item">
                                          <a class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                                 href="artikel2.html">
                                                 2
                                          </a>
                                   </li>
                                   <li class="page-item">
                                          <a class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                                 href="artikel3.html">3
                                          </a>
                                   </li>
                                   <li class="page-item"><a
                                                 class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                                 href="artikel.html" aria-label="Next">
                                                 <span aria-hidden="true">&raquo;</span>
                                          </a></li>
                            </ul>
                     </div>
              </div>
       </section>
       <!-- End Artikel -->

       <!-- Footer -->
       <footer class="items-center py-5 bg-gray-200">
              <div class="container">
                     <div class="grid grid-cols-2 gap-4 lg:grid-cols-3">
                            <div class="flex col-start-1 row-start-1 md:gap-4 place-self-center">
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/Facebook.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/Instagram.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/YouTube.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/LinkedIn.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/Twitter Squared.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/TikTok.png"
                                                 class="md:pt-0" alt=""></a>
                            </div>
                            <div class="flex col-span-2 mt-5 text-center lg:mt-0 lg:col-span-1 place-self-center">
                                   <p class="text-sm font-medium md:text-base">
                                          &copy; 2022 Pejuang Tanggung PETA TB-RO
                                   </p>
                            </div>
                            <div
                                   class="flex items-center justify-center col-start-2 row-start-1 gap-2 px-4 py-2 pt-2 mx-32 text-sm rounded-lg lg:col-start-3 place-self-center md:mx-0 md:text-base bg-slate-100">
                                   <img src="../../img/indo-icon.png" class="w-5" alt="">
                                   <p class="font-medium">Indonesia</p>
                            </div>
                     </div>
              </div>
       </footer>
       <!-- END Footer -->


       <script src="../../../node_modules/aos/dist/aos.js"></script>
       <script src="../../../node_modules/tw-elements/dist/js/index.min.js"></script>
       <script src="../../js/main.js"></script>
</body>

</html>