<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- TailwindCss -->
       <link rel="stylesheet" href="../../css/style.css">
       <!-- AOS -->
       <link href="../../../node_modules/aos/dist/aos.css" rel="stylesheet">
       <!-- Font Family -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
       <!-- end Font Family -->
       <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
       <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
       <!-- swiper -->
       <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
       <!-- Favicon -->
       <link rel="shortcut icon" href="../../img/favicon peta.ico" type="image/x-icon">
       <title>Tentang PETA | PETA</title>
</head>

<body class="font-poppins">
       <!-- Navbar -->
       <header class="absolute top-0 left-0 z-10 flex items-center w-full bg-white">
              <div class="container">
                     <div class="relative flex items-center justify-between">
                            <a href="../beranda/index.html" class="pr-2 md:pr-2">
                                   <img class="h-12 my-2" src="../../img/logoPeta.png" alt="logoPeta">
                            </a>
                            <div class="flex items-center">
                                   <button id="hamburger" name="hamburger" type="button"
                                          class="absolute block right-2 top-3 lg:hidden">
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                          <span class="transition duration-300 ease-in-out hamburger-line"></span>
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                   </button>

                                   <nav id="nav-menu"
                                          class="hidden absolute py-3 bg-white shadow-lg max-w-[250px] w-full right-4 top-full lg:block lg:static lg:bg-transparent lg:left-4 lg:max-w-full lg:shadow-none lg:top-0">
                                          <ul class="block font-normal lg:flex lg:items-center">
                                                 <li class="grup">
                                                        <a href="../beranda/index.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Beranda
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../peta/peta.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Tentang PETA
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../tbc/tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Info TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kasus/kasus-tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kasus TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../artikel/artikel.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Artikel
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../galeri/galeri.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Galeri
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kontak/kontak.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kontak
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../penjualan/penjualan.html"
                                                               class="block p-3 ml-2 text-white rounded-lg bg-button hover:bg-primary">
                                                               Penjualan Karya
                                                        </a>
                                                 </li>
                                          </ul>
                                   </nav>
                            </div>
                     </div>
              </div>
       </header>
       <!-- End Navbar -->

       <!--gambar artikel-->
       <div class="px-10 py-10 border-b md:px-36 lg:px-60">
              <img src="/website-PETA/images/virus1.png" alt="">
              <p class="pt-10 text-sm font-poppins md:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Ut mattis elementum tellus sapien id et non pellentesque ultrices.
                     Nibh ridiculus dolor viverra enim. Hac nibh tempus lobortis phasellus nec neque.
                     Urna, quis amet maecenas pellentesque tristique neque, odio nunc, commodo.
                     Contrary to popular belief, Lorem Ipsum is not simply random text.
                     from a Lorem Ipsum passage, and going through
                     the cites of the word in classical literature, discovered the undoubtable
                     source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
                     Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in
                     45 BC. This book is a treatise on the theory of ethics, very popular during
                     the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..",
                     comes from a line in section 1.10.32.
              </p>
       </div>

       <!--search-->
       <div class="relative flex justify-center pt-2 mx-auto mt-5 mb-10 text-gray-600">
              <h2>Baca Artikel Lainnya</h2>
       </div>
       <div class="flex justify-center mb-10">
              <div>
                     <a href="./klik-artikel.html" class="flex mx-5 mt-3">
                            <img src="/website-PETA/images/artikel1.png"
                                   class="w-56 h-32 md:h-40 md:w-72 lg:w-96 lg:h-60" alt="">
                            <p class="ml-5 border-t border-gray-300 xs:text-sm md:text-lg lg:text-xl">
                                   Perlu diperhatikan jenis obat yang dosis nya sangat besar
                            </p>
                     </a>
                     <a href="./klik-artikel.html" class="flex mx-5 mt-3">
                            <img src="/website-PETA/images/artikel2.png"
                                   class="w-56 h-32 md:h-40 md:w-72 lg:w-96 lg:h-60" alt="">
                            <p class="ml-5 border-t border-gray-300 xs:text-sm md:text-lg lg:text-xl">
                                   Perlu diperhatikan jenis obat yang dosis nya sangat besar
                            </p>
                     </a>
                     <a href="./klik-artikel.html" class="flex mx-5 mt-3">
                            <img src="/website-PETA/images/artikel3.png"
                                   class="w-56 h-32 md:h-40 md:w-72 lg:w-96 lg:h-60" alt="">
                            <p class="ml-5 border-t border-gray-300 xs:text-sm md:text-lg lg:text-xl">
                                   Perlu diperhatikan jenis obat yang dosis nya sangat besar
                            </p>
                     </a>
              </div>
       </div>
       <!-- End Artikel -->

       <!-- Footer -->
       <footer class="items-center py-5 bg-gray-200">
              <div class="container">
                     <div class="grid grid-cols-2 gap-4 lg:grid-cols-3">
                            <div class="flex col-start-1 row-start-1 md:gap-4 place-self-center">
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/Facebook.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/Instagram.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/YouTube.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/LinkedIn.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/Twitter Squared.png"
                                                 class="md:pt-0" alt=""></a>
                                   <a class="w-6 h-6 md:w-7 md:h-7" href="#"><img src="../../img/TikTok.png"
                                                 class="md:pt-0" alt=""></a>
                            </div>
                            <div class="flex col-span-2 mt-5 text-center lg:mt-0 lg:col-span-1 place-self-center">
                                   <p class="text-sm font-medium md:text-base">
                                          &copy; 2022 Pejuang Tanggung PETA TB-RO
                                   </p>
                            </div>
                            <div
                                   class="flex items-center justify-center col-start-2 row-start-1 gap-2 px-4 py-2 pt-2 mx-32 text-sm rounded-lg lg:col-start-3 place-self-center md:mx-0 md:text-base bg-slate-100">
                                   <img src="../../img/indo-icon.png" class="w-5" alt="">
                                   <p class="font-medium">Indonesia</p>
                            </div>
                     </div>
              </div>
       </footer>
       <!-- END Footer -->


       <script src="../../../node_modules/aos/dist/aos.js"></script>
       <script src="../../../node_modules/tw-elements/dist/js/index.min.js"></script>
       <script src="../../js/main.js"></script>
</body>

</html>